nav{
  display:flex;
  justify-content: space-around;
  align-items: center;
  background-color: aquamarine;
  height:50px;
}
nav ul li{
  list-style-type: none;
  gap: 23px;
  padding: 10px;
  

}

nav ul{
  display: flex;
}

.logo{
  font-size: 30px;
  font-weight: bold;
}

label{
  display: block;
}


form{
  text-align: center;
}

h1,h2{
  text-align: center;
}

input[type='text']{
  width: 30vw;
  height:44px;

}

textarea{
  width: 30vw;
  height: 122px;
  
}

.card{
  width: 233px;
  height: 233px;
  background-color: rgb(70, 154, 238);
  color: white;
  font-weight: bold;
  padding: 12px;
  margin:12px;
  border-radius: 12px;
}


.card .title{
  text-align: center;
  font-size: 22px;

}

.container{
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 50vw;
}

.noteSection{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}