nav{
  display:flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(56, 223, 201);
  height:50px;
}
nav ul li{
  list-style-type: none;
  gap: 23px;
  padding: 10px;
  

}

nav ul{
  display: flex;
}

.logo{
  font-size: 30px;
  font-weight: bold;
}

label{
  display: block;
}


form{
  text-align: center;
}

h1,h2{
  text-align: center;
}

input[type='text']{
  width: 30vw;
  height:44px;

}

textarea{
  width: 30vw;
  height: 122px;
  
}

.card{
  width: 233px;
  height: 233px;
  background-color: rgb(67, 144, 221);
  color: rgb(74, 45, 170);
  font-weight: bold;
  padding: 12px;
  margin:12px;
  border-radius: 12px;
  position: relative;
}


.card .title{
  text-align: center;
  font-size: 22px;
  color: rgb(0, 0, 0);

}

.container{
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 50vw;
}

.noteSection{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.del{
  position: absolute;
  right:5px;
  cursor: pointer;
}




.about-container {
  text-align: center;
  margin-top: 50px;
}

.about-container h1 {
  color: blue;
  font-size: 40px;
}

.about-container p {
  font-size: 20px;
  color: #555;
}

.about-btn {
  background-color: green;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

.about-btn:hover {
  background-color: darkgreen;
}